<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- read the log path from application.properties if not exist use defaultValue -->
    <springProperty scope="context" name="logPath" source="logging.file.path"
        defaultValue="/tmp/logs" />


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- set the log format -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%thread] %-5level  -%kvp- %msg %n</pattern>
        </encoder>
    </appender>
    <!-- application.log -->
    <appender name="APPLICATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level  - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/application-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- exception.log -->
    <appender name="EXCEPTION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/exception.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level  - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/exception-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- botrun.log -->
    <appender name="BOTRUN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/botrun.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level  - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/botrun-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- root setting -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_LOG" />
    </root>

    <!-- BotRun Logger -->
    <logger name="BotRunLogger" level="INFO" additivity="false">
        <appender-ref ref="BOTRUN_LOG" />
    </logger>

    <!-- Exception Logger -->
    <logger name="exceptionLogger" level="WARN" additivity="true">
        <appender-ref ref="EXCEPTION_LOG" />
    </logger>

</configuration>